# Copie para .env.docker e ajuste os segredos antes de subir

DJANGO_SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
DJANGO_CPF_HASH_KEY=troque-por-uma-chave-dedicada-para-hash-cpf
DJANGO_CPF_ENCRYPTION_KEY=troque-por-uma-chave-dedicada-para-criptografia-cpf

DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

GEPUB_PUBLIC_ROOT_DOMAIN=gepub.com.br
GEPUB_APP_HOSTS=127.0.0.1,localhost

DJANGO_DB_ENGINE=postgresql
DJANGO_DB_NAME=gepub
DJANGO_DB_USER=gepub
DJANGO_DB_PASSWORD=gepub123
DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432
DJANGO_DB_CONN_MAX_AGE=120

DJANGO_CACHE_BACKEND=redis
DJANGO_REDIS_URL=redis://redis:6379/1

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_TASK_ALWAYS_EAGER=false
CELERY_TASK_EAGER_PROPAGATES=true

CHANNEL_LAYER_IN_MEMORY=false
CHANNEL_REDIS_URL=redis://redis:6379/2

MEILISEARCH_URL=http://meilisearch:7700
MEILISEARCH_MASTER_KEY=troque-esta-chave-meili
MEILISEARCH_INDEX_PREFIX=gepub

# Ambiente docker local sem TLS
DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_SESSION_COOKIE_SECURE=false
DJANGO_CSRF_COOKIE_SECURE=false
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=false
DJANGO_SECURE_HSTS_PRELOAD=false
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DRF_PAGE_SIZE=25
JWT_ACCESS_TOKEN_MINUTES=15
JWT_REFRESH_TOKEN_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=true
JWT_BLACKLIST_AFTER_ROTATION=false
JWT_UPDATE_LAST_LOGIN=false

REDIS_HOST=redis
REDIS_PORT=6379
WAIT_FOR_REDIS=1
COLLECTSTATIC_ON_START=1
CELERY_LOGLEVEL=INFO
CELERY_WORKER_CONCURRENCY=2

POSTGRES_DB=gepub
POSTGRES_USER=gepub
POSTGRES_PASSWORD=gepub123
