{% extends "core/dashboard.html" %}

{% block title %}Dashboard • Unidade • GEPUB{% endblock %}

{% block dashboard_title %}
Unidade • {{ unidade_nome }}
{% endblock %}

{% block dashboard_metrics %}
<div class="dashboard-metrics">

  <div class="metric-card">
    <div class="metric-label">Turmas</div>
    <div class="metric-value">{{ turmas_total }}</div>
  </div>

  <div class="metric-card">
    <div class="metric-label">Alunos</div>
    <div class="metric-value">{{ alunos_total }}</div>
  </div>

  <div class="metric-card">
    <div class="metric-label">Professores</div>
    <div class="metric-value">{{ professores_total }}</div>
  </div>

</div>
{% endblock %}
