{% extends "core/dashboard.html" %}

{% block title %}Dashboard • Aluno • GEPUB{% endblock %}

{% block dashboard_title %}
Olá, {{ user.get_full_name }}
{% endblock %}

{% block dashboard_metrics %}
<div class="dashboard-metrics">

  <div class="metric-card">
    <div class="metric-label">Turma</div>
    <div class="metric-value">{{ turma_nome }}</div>
  </div>

  <div class="metric-card">
    <div class="metric-label">Avisos</div>
    <div class="metric-value">{{ avisos_total }}</div>
  </div>

</div>
{% endblock %}
