{% extends "core/dashboard.html" %}

{% block title %}Dashboard • Professor • GEPUB{% endblock %}

{% block dashboard_title %}
Professor • {{ user.get_full_name }}
{% endblock %}

{% block dashboard_metrics %}
<div class="dashboard-metrics">

  <div class="metric-card">
    <div class="metric-label">Minhas Turmas</div>
    <div class="metric-value">{{ turmas_total }}</div>
  </div>

  <div class="metric-card">
    <div class="metric-label">Meus Alunos</div>
    <div class="metric-value">{{ alunos_total }}</div>
  </div>

</div>
{% endblock %}
