.layout{
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  min-height: 100vh;
}

/* sidebar fixed + main scroll */
.sidebar{
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.main{
  min-width: 0;
  display: grid;
  grid-template-rows: var(--topbar-h) 1fr;
}

.content{
  padding: 22px;
  min-width: 0;
}
