{
    auto_https disable_redirects
}

http://{$APP_DOMAIN}, http:// {
    encode gzip zstd

    reverse_proxy web:8000
}

{$APP_DOMAIN} {
    encode gzip zstd

    @media path /media/*
    @static path /static/*

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    reverse_proxy web:8000 {
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
    }

    tls {$ACME_EMAIL}
}
