/* CORE */
@import "core/tokens.css";
@import "core/base.css";
@import "core/layout.css";
@import "core/utilities.css";

/* COMPONENTS */
@import "components/cards.css";
@import "components/forms.css";
@import "components/tables.css";
@import "components/sidebar.css";
@import "components/topbar.css";
@import "components/dashboard.css";

/* PAGES */
@import "pages/login.css";
@import "pages/perfil.css";
@import "pages/aluno.css";

/* THEMES */
@import "themes/default.css";
@import "themes/institucional.css";
@import "themes/swap.css";
@import "themes/gov.css";
