/* GEPUB - CSS Loader (somente tema institucional) */

/* Core */
@import url("./core/tokens.css");
@import url("./core/base.css");
@import url("./core/layout.css");

/* Components */
@import url("./components/sidebar.css");
@import url("./components/topbar.css");
@import url("./components/breadcrumbs.css");
@import url("./components/buttons.css");
@import url("./components/forms.css");
@import url("./components/cards.css");
@import url("./components/tables.css");
@import url("./components/badges.css");
@import url("./components/link-card.css");
@import url("./components/modal.css");

/* Utilities */
@import url("./core/utilities.css");
@import url("pages/dashboard.css");
