{% extends "nee/base_modulo.html" %}
{% block module_title %}{% if mode == 'update' %}Editar Necessidade{% else %}Nova Necessidade{% endif %} • {{ aluno.nome }}{% endblock %}
{% block module_content %}
<div class="card"><div class="card__body">
{% include "core/partials/components/layout/page_head.html" with title="Necessidade do Aluno" subtitle=aluno.nome actions=actions %}
{% include "core/partials/components/forms/form_shell.html" with form=form submit_label="Salvar" cancel_url=actions.0.url %}
</div></div>
{% endblock %}
