{% extends "nee/base_modulo.html" %}
{% block module_title %}NEE • GEPUB{% endblock %}
{% block module_content %}
<div class="card"><div class="card__body">
{% include "core/partials/components/layout/page_head.html" with title="NEE" subtitle="Necessidades Educacionais Especiais" actions=actions %}
<div class="section-grid cols-2">
  <a class="link-card" href="{% url 'nee:tipo_list' %}">
    <div class="link-card__icon"><i class="fa-solid fa-list"></i></div>
    <div class="link-card__content">
      <div class="link-card__title">Tipos de Necessidade</div>
      <div class="link-card__text">Cadastre e mantenha os tipos (TEA, TDAH, etc.).</div>
    </div>
  </a>
  <a class="link-card" href="{% url 'nee:relatorios_index' %}">
    <div class="link-card__icon"><i class="fa-solid fa-chart-column"></i></div>
    <div class="link-card__content">
      <div class="link-card__title">Relatórios</div>
      <div class="link-card__text">Relatórios por tipo, município e unidade.</div>
    </div>
  </a>
</div>
</div></div>
{% endblock %}
