{% extends "nee/base_modulo.html" %}
{% block module_title %}NEE • Painel{% endblock %}
{% block module_content %}
<div class="card dashboard-shell"><div class="card__body">
  {% include "core/partials/components/layout/page_head.html" with title="NEE" subtitle="Necessidades Educacionais Especiais" actions=actions %}

  <div class="section-grid cols-2">
    {% for c in cards %}
      <a class="link-card" href="{{ c.url }}">
        <div class="link-card__icon"><i class="{{ c.icon }}"></i></div>
        <div class="link-card__content">
          <div class="link-card__title">{{ c.title }}</div>
          <div class="link-card__desc">{{ c.description }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div></div>
{% endblock %}
