{% extends "core/base.html" %}
{% block title %}{{ tipo.nome }} • Tipos • NEE • GEPUB{% endblock %}
{% block header %}NEE{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a class="breadcrumbs__link" href="{% url 'core:dashboard' %}">Início</a>
  <span class="breadcrumbs__sep">/</span>
  <a class="breadcrumbs__link" href="{% url 'nee:index' %}">NEE</a>
  <span class="breadcrumbs__sep">/</span>
  <a class="breadcrumbs__link" href="{% url 'nee:tipo_list' %}">Tipos</a>
  <span class="breadcrumbs__sep">/</span>
  <span class="breadcrumbs__current">{{ tipo.nome }}</span>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card__body">
{% include "core/partials/components/layout/page_head.html" with title=page_title subtitle=page_subtitle actions=actions %}
{% include "core/partials/components/layout/detail_summary.html" with fields=fields pills=pills %}
  </div>
</div>
{% endblock %}
