{% extends "core/base.html" %}
{% block title %}Pessoas • GEPUB{% endblock %}
{% block header %}Pessoas{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a class="breadcrumbs__link" href="{% url 'core:dashboard' %}">Início</a>
    <span class="breadcrumbs__sep">/</span>
    <span class="breadcrumbs__current">Pessoas</span>
  </div>
{% endblock %}


{% block content %}
  <div class="card">
    <div class="card__title">Módulo Pessoas</div>
    <div class="card__body">
      Página inicial do módulo. Próximo passo: cadastros (Aluno, Responsável, Servidor).
    </div>
  </div>
{% endblock %}
