{% extends "core/base.html" %}
{% block title %}{{ page_title }} • Organização • GEPUB{% endblock %}
{% block header %}Organização{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a class="breadcrumbs__link" href="{% url 'core:dashboard' %}">Início</a>
    <span class="breadcrumbs__sep">/</span>
    <a class="breadcrumbs__link" href="{% url 'org:index' %}">Organização</a>
    <span class="breadcrumbs__sep">/</span>
    <a class="breadcrumbs__link" href="{% url 'org:unidade_list' %}">Unidades</a>
    <span class="breadcrumbs__sep">/</span>
    <span class="breadcrumbs__current">{{ page_title }}</span>
  </div>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card__body">

    {% include "core/partials/page_head.html" with title=page_title subtitle=page_subtitle actions=actions %}
    {% include "core/partials/form_shell.html" with form=form submit_label=submit_label cancel_url=cancel_url action_url=action_url %}

  </div>
</div>
{% endblock %}
